css
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 5em;
}

.carousel-inner img {
  margin: auto;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.fa {
  padding: 50px;
  font-size: 80px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
ol {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 2em;
  display: flex;
  justify-content: space-evenly;
}
ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10%;
  font-size: 2em;
  display: flex;
  justify-content: space-evenly;
}
