css
h1, h2 {
  text-align: center;
}
h1 {
  font-size: 5em;
}

.carousel-inner img {
  margin: auto;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: red;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red;
}

.fa {
  padding: 50px;
  font-size: 80px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
}
